<div class="row">
  <div class="col-3">
    <h3 class="text-center">Nuevo producto</h3>
    <form class="m-auto my-5">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          aria-describedby="emailHelp"
        />
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Photo</label>
          <input type="text" class="form-control" id="photo" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Price</label>
          <input type="text" class="form-control" id="price" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">stock</label>
          <input type="text" class="form-control" id="stock" />
        </div>
        <button
          id="newProduct"
          type="submit"
          class="btn btn-dark"
        >Cargar</button>
      </div>
    </form></div>
  <div class="col-8"><h3 class="text-center">Productos disponibles</h3>
    <article
      id="products"
      class="d-flex flex-wrap justify-content-evenly"
    ></article>
  </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/form.js"></script>